<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-wrapper">

		{{!-- Sheet Header --}}
		{{> "modules/wod-turbo-breakers-pbta-foundryvtt/templates/parts/actor-header.hbs" }}

		<section class="sheet-top flexcol">
			{{#if isCharacter}}
			{{!-- Attributes --}}
			<section class="sheet-attributes flexrow">
				<div class="cell cell--image">
					<img class="profile-img" src="{{actor.img}}" data-edit="img" height="100" width="100"/>
				</div>

                <div>
                    <div class="flexcol">
                        {{> "pbta.actor-stats" }}
                    </div>

                    <!-- Top Bar (under Attributes) -->
                    <div class="flexcol">
                        {{~> "modules/wod-turbo-breakers-pbta-foundryvtt/templates/parts/actor-topbar.hbs" attrs=system.attrTopBar cssClass="cell--attributes-top flexrow" owner=owner editable=editable ~}}
                    </div>
                </div>

            </section>
			{{/if}}

			<section class="sheet-attributes-top">
				{{~> "modules/wod-turbo-breakers-pbta-foundryvtt/templates/parts/actor-attributes.hbs" attrs=system.attrTop cssClass="cell--attributes-top flexrow" owner=owner editable=editable ~}}
			</section>
		</section>

		<section class="sheet-bottom flexrow">
			{{!-- Sidebar --}}
			{{#if (objLen system.attrLeft)}}
			<section class="sheet-look">
				<div class="cell cell--aesthetics">
                    {{log "boo"}}
                    {{log system}}
					{{> "pbta.actor-attributes" attrs=system.attrLeft cssClass="cell--attributes-left" owner=owner editable=editable}}
				</div>
			</section>
			{{/if}}

			{{!-- Main --}}
			<section class="sheet-main flexcol">
				{{!-- Sheet Tab Navigation --}}
				<nav class="sheet-tabs tabs" data-group="primary">
					<a class="item" data-tab="description">{{localize "PBTA.Description"}}</a>
					<a class="item" data-tab="moves">{{localize "BREAKERS-SHEETS.SheetConfig.tabs.talents"}}</a>
                    <a class="item" data-tab="equipment">{{localize "BREAKERS-SHEETS.SheetConfig.tabs.equipment"}}</a>
				</nav>

				{{!-- Sheet Body --}}
				<section class="sheet-body">
					{{!-- Main Tab --}}
					{{> "pbta.actor-description" }}

					{{!-- Moves Tab --}}
					{{> "modules/wod-turbo-breakers-pbta-foundryvtt/templates/parts/actor-movelist.hbs" }}

                    {{!-- Equipment Tab --}}
					{{> "modules/wod-turbo-breakers-pbta-foundryvtt/templates/parts/actor-equipment.hbs" }}
				</section>
			</section>
		</section>
	</div>
	</form>
