{{#if (objLen attrs)}}
    <div class="cell cell--attributes">
        <div class="toprow-container">


        <div class="toprow-level-0-col">
            <div class="flexrow xp-bar-left">
                <div class="flexrow xp-bar-left-background-extension">
                    Background
                </div>
                <div class="flexrow xp-bar-left-experience-extension">
                    Experience
                </div>
            </div>

            <div class="flexrow strain-bar-left">
                <div class="flexrow strain-bar-left-background-extension">
                    <input type="text" name="system.attributes.background.value"
                           value="{{system.attributes.background.value}}" />
                </div>
                <div class="flexrow strain-bar-left-experience-extension">
                        Strain
                        <input type="radio" class="attr-xp" data-name="system.attributes.strain"
                               data-step="0"  {{checked (gt system.attributes.strain.value 0)}}>
                </div>
            </div>
            <div class="flexrow label-bar-left-extension">
                {{#each attrs.backgroundType.options as |option key|}}
                    <span class="background-type{{#if (eq option.name ../attrs.backgroundType.value)}}-selected{{/if}}" data-name="{{option.name}}"
                          data-label="{{option.label}}">{{option.label}}</span>
                {{/each}}
            </div>
        </div>


<!--        <div class="toprow-label-col">-->
<!--            <div class="flexrow xp-bar">-->
<!--                Experience-->
<!--            </div>-->
<!--            <div class="flexrow strain-bar">-->
<!--                Strain-->
<!--                <div class="flexrow strain-bar-borderless">-->
<!--                    <input type="radio" class="attr-xp" data-name="system.attributes.strain"-->
<!--                           data-step="0"  {{checked (gt system.attributes.strain.value 0)}}>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="flexrow label-bar-left">&nbsp;</div>-->
<!--        </div>-->

        {{#each attrs.levels.options as |level key|}}
            <div class="toprow-level-{{key}}-col">
                <div class="flexrow xp-bar{{isLastLevel ../attrs.levels.options key}}">
                    {{#each (calculateXpSlots key)}}
                        <input type="radio" class="attr-xp" data-name="system.attributes.experience"
                               data-step="{{this}}" {{checked (gt ../../system.attributes.experience.value this)}}>
                    {{/each}}
                </div>
                <div class="flexrow strain-bar{{isLastLevel ../attrs.levels.options key}}">
                    <input type="radio" class="attr-xp" data-name="system.attributes.strain"
                           data-step="{{key}}" {{checked (gt ../system.attributes.strain.value key)}}>
                </div>
                <div class="flexrow label-bar{{isLastLevel ../attrs.levels.options key}}">
                    {{level.label}}
                </div>
            </div>
        {{/each}}

        <div class="toprow-hp-armor-col">
            <div class="flexrow xp-bar-hp-armor">
                HP
                <div class="flexrow xp-bar-hp-armor">
                    <div class="xp-row-triangle-container">
                        <div class="xp-row-triangle">
                            <input type="text" name="system.attributes.hitPoints.value"
                                   value="{{system.attributes.hitPoints.value}}" maxlength="2" data-dtype="Number"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexrow strain-bar-hp-armor">
                <div class="strain-row-triangle-container">
                    <div class="strain-row-triangle">
                        <input type="text" name="system.attributes.armor.value"
                               value="{{system.attributes.armor.value}}" maxlength="1" data-dtype="Number"/>
                    </div>
                </div>
            </div>
            <div class="flexrow label-bar-hp-armor">
                Armor
            </div>
        </div>

        </div>
    </div>
{{/if}}
