<div class="tab equipment" data-group="primary" data-tab="equipment">
    <section class="sheet-tab">
        {{log system}}
        <div class="equipmentTab-container">
            <div class="equipmentTab-column">
                <div class="equipmentTab-pack-row">
                    {{#each system.attrEquipTab.equipment.pack as |item key|}}
                        <div class="equipmentTab-item rel-width-{{item.relWidth}}">
                            {{#times item.maxUses }}
                                <input type="checkbox" class="attr-clock"
                                       data-name="system.attributes.equipment.pack.{{key}}"
                                       data-step="{{@index}}"
                                    {{checked (gt item.value @index)}} >
                            {{/times}}
                            {{item.label}}
                        </div>
                        {{#if item.breakAfter}}
                </div>
                <div class="equipmentTab-pack-row">
                        {{/if}}
                    {{/each}}
                </div>
            </div>

            <div class="equipmentTab-column">
                <div class="equipmentTab-onHand-row">
                    {{#each system.attrEquipTab.equipment.onHand as |item key|}}
                        <div class="equipmentTab-item rel-width-{{item.relWidth}}">
                            {{#times item.maxUses }}
                                <input type="checkbox" class="attr-clock"
                                       data-name="system.attributes.equipment.onHand.{{key}}"
                                       data-step="{{@index}}"
                                    {{checked (gt item.value @index)}} >
                            {{/times}}
                            {{item.label}}
                        </div>
                        {{#if item.breakAfter}}
                </div>
                <div class="equipmentTab-onHand-row">
                        {{/if}}
                    {{/each}}
                </div>
            </div>

        </div>
    </section>
</div>
