{{#if (objLen attrs)}}
    <div class="cell cell--attributes">
        <div class="toprow-container">


        <div class="toprow-background-col">
            <div class="flexrow xp-bar-left">
                Background
            </div>
            <div class="flexrow strain-bar-left">
                <div class="cell__attr-background">
                    <div class="cell cell--background cell--attr-background cell--Text">
                        <div class="editor"><a class="editor-edit"><i class="fa-solid fa-edit"></i></a>
                            <div class="editor-content" data-engine="tinymce" data-collaborate="false"
                                 data-edit="undefined"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexrow label-bar-left">&nbsp;</div>
        </div>


        <div class="toprow-label-col">
            <div class="flexrow xp-bar">
                Experience
            </div>
            <div class="flexrow strain-bar">
                Strain
                <div class="flexrow strain-bar-borderless">
                    <input type="radio" class="attr-xp" data-name="system.attributes.strain"
                           data-step="0"  {{checked (gt system.attributes.strain.value 0)}}>
                </div>
            </div>
            <div class="flexrow label-bar">&nbsp;</div>
        </div>

        {{#each attrs.levels.options as |level key|}}
            <div class="toprow-level-{{key}}-col">
                <div class="flexrow xp-bar">
                    {{#each (calculateXpSlots key)}}
                        <input type="radio" class="attr-xp" data-name="system.attributes.experience"
                               data-step="{{this}}" {{checked (gt ../../system.attributes.experience.value this)}}>
                        {{log key}}
                    {{/each}}
                </div>
                <div class="flexrow strain-bar">
                    <input type="radio" class="attr-xp" data-name="system.attributes.strain"
                           data-step="{{key}}" {{checked (gt ../system.attributes.strain.value key)}}>
                </div>
                <div class="flexrow label-bar">
                    {{level.label}}
                </div>
            </div>
        {{/each}}

        <div class="toprow-hp-armor-col">
            <div class="flexrow xp-bar-right">
                HP
            </div>
            <div class="flexrow strain-bar-right">
                &nbsp;
            </div>
            <div class="flexrow label-bar-right">
                Armor
            </div>
        </div>

        </div>
    </div>
{{/if}}
